# K3s Traefik HelmChartConfig - Additional Entry Points
# This configures the bundled Traefik to expose additional ports
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    ports:
      gitea-ssh:
        port: 2222
        expose:
          default: true
        exposedPort: 2222
        protocol: TCP
